In [1]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as pl
import seaborn as sns
labels = pd.read_csv("train_labels.csv",encoding = 'latin-1')
values = pd.read_csv("train_values.csv",encoding = 'latin-1')
pd.options.display.max_colwidth = 250
values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  object
 9   foundation_type                         260601 non-null  object
 10  roof_type                               260601 non-null  object
 11  ground_floor_type                       260601 non-null  object
 12  other_floor_type                        260601 non-null  object
 13  position                                260601 non-null  object
 14  plan_configuration                      260601 non-null  object
 15  has_superstructure_adobe_mud            260601 non-null  int64
 16  has_superstructure_mud_mortar_stone     260601 non-null  int64
 17  has_superstructure_stone_flag           260601 non-null  int64
 18  has_superstructure_cement_mortar_stone  260601 non-null  int64
 19  has_superstructure_mud_mortar_brick     260601 non-null  int64
 20  has_superstructure_cement_mortar_brick  260601 non-null  int64
 21  has_superstructure_timber               260601 non-null  int64
 22  has_superstructure_bamboo               260601 non-null  int64
 23  has_superstructure_rc_non_engineered    260601 non-null  int64
 24  has_superstructure_rc_engineered        260601 non-null  int64
 25  has_superstructure_other                260601 non-null  int64
 26  legal_ownership_status                  260601 non-null  object
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  int64
 29  has_secondary_use_agriculture           260601 non-null  int64
 30  has_secondary_use_hotel                 260601 non-null  int64
 31  has_secondary_use_rental                260601 non-null  int64
 32  has_secondary_use_institution           260601 non-null  int64
 33  has_secondary_use_school                260601 non-null  int64
 34  has_secondary_use_industry              260601 non-null  int64
 35  has_secondary_use_health_post           260601 non-null  int64
 36  has_secondary_use_gov_office            260601 non-null  int64
 37  has_secondary_use_use_police            260601 non-null  int64
 38  has_secondary_use_other                 260601 non-null  int64
dtypes: int64(31), object(8)
memory usage: 77.5+ MB

In [3]:
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   building_id   260601 non-null  int64
 1   damage_grade  260601 non-null  int64
dtypes: int64(2)
memory usage: 4.0 MB

In [7]:
df = labels.merge(values,left_on='building_id',right_on='building_id')
df

,building_id,damage_grade,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,3,6,487,12198,2,30,6,5,t,...,0,0,0,0,0,0,0,0,0,0
1,28830,2,8,900,2812,2,10,8,7,o,...,0,0,0,0,0,0,0,0,0,0
2,94947,3,21,363,8973,2,10,5,5,t,...,0,0,0,0,0,0,0,0,0,0
3,590882,2,22,418,10694,2,10,6,5,t,...,0,0,0,0,0,0,0,0,0,0
4,201944,3,11,131,1488,3,30,8,9,t,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,688636,2,25,1335,1621,1,55,6,3,n,...,0,0,0,0,0,0,0,0,0,0
260597,669485,3,17,715,2060,2,0,6,5,t,...,0,0,0,0,0,0,0,0,0,0
260598,602512,3,17,51,8163,3,55,6,7,t,...,0,0,0,0,0,0,0,0,0,0
260599,151409,2,26,39,1851,2,10,14,6,t,...,0,0,0,0,0,0,0,0,0,0
260600,747594,3,21,9,9101,3,10,7,6,n,...,0,0,0,0,0,0,0,0,0,0

In [16]:
df.groupby(['geo_level_1_id','geo_level_2_id','geo_level_3_id','damage_grade']).agg({'building_id' : 'count'}).nlargest(25,'building_id')

                                                           building_id
geo_level_1_id geo_level_2_id geo_level_3_id damage_grade
26             39             9133           1                     450
                              633            1                     372
20             158            621            2                     343
26             39             633            2                     273
10             151            7723           1                     269
20             158            9229           2                     250
26             39             11440          1                     238
                              11246          1                     234
                              2005           2                     230
7              1166           406            2                     223
20             158            2452           2                     216
26             39             11246          2                     210
                              2005           1                     200
                              11440          2                     191
10             735            10221          2                     182
26             39             9133           2                     182
                              1851           2                     181
                              10445          2                     180
               991            2170           2                     180
9              445            10728          2                     172
7              157            9272           2                     166
26             1001           12258          1                     166
                              6626           1                     165
6              376            10236          2                     160
8              463            8236           3                     158

In [15]:
df.groupby(['geo_level_1_id','geo_level_2_id','geo_level_3_id']).agg({'building_id' : 'count'}).nlargest(5,'building_id')

                                              building_id
geo_level_1_id geo_level_2_id geo_level_3_id
26             39             633                     651
                              9133                    647
20             158            621                     530
26             39             11246                   470
                              2005                    466

In [23]:
df['age_quantile'] = pd.qcut(df['age'], q=6)
df

,building_id,damage_grade,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,age_quantile
0,802906,3,6,487,12198,2,30,6,5,t,...,0,0,0,0,0,0,0,0,0,"(25.0, 35.0]"
1,28830,2,8,900,2812,2,10,8,7,o,...,0,0,0,0,0,0,0,0,0,"(5.0, 10.0]"
2,94947,3,21,363,8973,2,10,5,5,t,...,0,0,0,0,0,0,0,0,0,"(5.0, 10.0]"
3,590882,2,22,418,10694,2,10,6,5,t,...,0,0,0,0,0,0,0,0,0,"(5.0, 10.0]"
4,201944,3,11,131,1488,3,30,8,9,t,...,0,0,0,0,0,0,0,0,0,"(25.0, 35.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,688636,2,25,1335,1621,1,55,6,3,n,...,0,0,0,0,0,0,0,0,0,"(35.0, 995.0]"
260597,669485,3,17,715,2060,2,0,6,5,t,...,0,0,0,0,0,0,0,0,0,"(-0.001, 5.0]"
260598,602512,3,17,51,8163,3,55,6,7,t,...,0,0,0,0,0,0,0,0,0,"(35.0, 995.0]"
260599,151409,2,26,39,1851,2,10,14,6,t,...,0,0,0,0,0,0,0,0,0,"(5.0, 10.0]"
260600,747594,3,21,9,9101,3,10,7,6,n,...,0,0,0,0,0,0,0,0,0,"(5.0, 10.0]"

In [30]:
#observando este resultado vemos que hay grandes cantidades de edificios afectados por grados altos de danio, en todas las edades de edificio. 
# Es decir que no parece haber correlacion entre ambos valores
df.groupby(['age_quantile','damage_grade']).agg({'building_id' : 'count'}).sort_values(by='damage_grade')

                            building_id
age_quantile  damage_grade
(-0.001, 5.0] 1                   12803
(35.0, 995.0] 1                    1006
(5.0, 10.0]   1                    4360
(10.0, 15.0]  1                    2878
(15.0, 25.0]  1                    3085
(25.0, 35.0]  1                     992
(-0.001, 5.0] 2                   31751
(5.0, 10.0]   2                   22370
(10.0, 15.0]  2                   20767
(35.0, 995.0] 2                   24005
(15.0, 25.0]  2                   32676
(25.0, 35.0]  2                   16690
              3                   11056
(10.0, 15.0]  3                   12365
(5.0, 10.0]   3                   12166
(-0.001, 5.0] 3                   15184
(15.0, 25.0]  3                   20787
(35.0, 995.0] 3                   15660

In [35]:
#efectivamente al checkear la correlacion, no hay correlacion
df['age'].corr(df['damage_grade'])

0.02927330217043438

In [37]:
#tampoco con cantidad de pisos
df['damage_grade'].corr(df['count_floors_pre_eq'])

0.12230849360229883

In [41]:
df.columns

Index(['building_id', 'damage_grade', 'geo_level_1_id', 'geo_level_2_id',
       'geo_level_3_id', 'count_floors_pre_eq', 'age', 'area_percentage',
       'height_percentage', 'land_surface_condition', 'foundation_type',
       'roof_type', 'ground_floor_type', 'other_floor_type', 'position',
       'plan_configuration', 'has_superstructure_adobe_mud',
       'has_superstructure_mud_mortar_stone', 'has_superstructure_stone_flag',
       'has_superstructure_cement_mortar_stone',
       'has_superstructure_mud_mortar_brick',
       'has_superstructure_cement_mortar_brick', 'has_superstructure_timber',
       'has_superstructure_bamboo', 'has_superstructure_rc_non_engineered',
       'has_superstructure_rc_engineered', 'has_superstructure_other',
       'legal_ownership_status', 'count_families', 'has_secondary_use',
       'has_secondary_use_agriculture', 'has_secondary_use_hotel',
       'has_secondary_use_rental', 'has_secondary_use_institution',
       'has_secondary_use_school', 'has_secondary_use_industry',
       'has_secondary_use_health_post', 'has_secondary_use_gov_office',
       'has_secondary_use_use_police', 'has_secondary_use_other',
       'age_quantile'],
      dtype='object')

In [63]:
df = df.rename(columns={'has_superstructure_adobe_mud' : 'ad_mud','has_superstructure_mud_mortar_stone' : 'mud_mort_st', 'has_superstructure_stone_flag':'st_flag','has_superstructure_cement_mortar_stone':'cem_mor_st','has_superstructure_mud_mortar_brick': 'mud_mor_br','has_superstructure_cement_mortar_brick':'cem_mor_br', 'has_superstructure_timber':'timber','has_superstructure_bamboo':'bamboo', 'has_superstructure_rc_non_engineered':'rc_non_eng','has_superstructure_rc_engineered':'rc_eng', 'has_superstructure_other':'other'})
df.columns

Index(['building_id', 'damage_grade', 'geo_level_1_id', 'geo_level_2_id',
       'geo_level_3_id', 'count_floors_pre_eq', 'age', 'area_percentage',
       'height_percentage', 'land_surface_condition', 'foundation_type',
       'roof_type', 'ground_floor_type', 'other_floor_type', 'position',
       'plan_configuration', 'ad_mud', 'mud_mort_st', 'st_flag', 'cem_mor_st',
       'mud_mor_br', 'cem_mor_br', 'timber', 'bamboo', 'rc_non_eng', 'rc_eng',
       'other', 'legal_ownership_status', 'count_families',
       'has_secondary_use', 'has_secondary_use_agriculture',
       'has_secondary_use_hotel', 'has_secondary_use_rental',
       'has_secondary_use_institution', 'has_secondary_use_school',
       'has_secondary_use_industry', 'has_secondary_use_health_post',
       'has_secondary_use_gov_office', 'has_secondary_use_use_police',
       'has_secondary_use_other', 'age_quantile'],
      dtype='object')

In [67]:
edificios_por_superstructure = df.groupby(['ad_mud','mud_mort_st','st_flag','cem_mor_st','mud_mor_br','cem_mor_br','timber','bamboo','rc_non_eng','rc_eng', 'other','damage_grade']).agg({'building_id':'count'})
edificios_por_superstructure

                                                                                                                building_id
ad_mud mud_mort_st st_flag cem_mor_st mud_mor_br cem_mor_br timber bamboo rc_non_eng rc_eng other damage_grade
0      0           0       0          0          0          0      0      0          0      1     1                     180
                                                                                                  2                     111
                                                                                                  3                      51
                                                                                     1      0     1                    1774
                                                                                                  2                     773
...                                                                                                                     ...
1      1           1       1          1          0          1      1      0          0      1     3                       1
                                                 1          0      0      0          0      0     1                       1
                                                                          1          0      0     2                       5
                                                            1      0      0          0      0     2                       3
                                                                          1          0      0     2                       1

[942 rows x 1 columns]

In [68]:
edificios_por_superstructure.unstack().sort_values(by=('building_id',1),ascending=False) #.to_csv('edificios_por_superstructure.csv')

                                                                                                  building_id  \
damage_grade                                                                                                1
ad_mud mud_mort_st st_flag cem_mor_st mud_mor_br cem_mor_br timber bamboo rc_non_eng rc_eng other
0      1           0       0          0          0          0      0      0          0      0          4946.0
       0           0       0          0          1          0      0      0          0      0          4169.0
                                                 0          0      0      1          0      0          2307.0
                                                            1      0      0          0      0          2236.0
       1           0       0          0          0          1      0      0          0      0          1951.0
...                                                                                                       ...
1      1           1       1          1          0          1      0      1          0      0             NaN
                                                                   1      0          0      1             NaN
                                                 1          0      0      1          0      0             NaN
                                                            1      0      0          0      0             NaN
                                                                          1          0      0             NaN

                                                                                                            \
damage_grade                                                                                             2
ad_mud mud_mort_st st_flag cem_mor_st mud_mor_br cem_mor_br timber bamboo rc_non_eng rc_eng other
0      1           0       0          0          0          0      0      0          0      0      75831.0
       0           0       0          0          1          0      0      0          0      0       5514.0
                                                 0          0      0      1          0      0       1756.0
                                                            1      0      0          0      0       2461.0
       1           0       0          0          0          1      0      0          0      0      17519.0
...                                                                                                    ...
1      1           1       1          1          0          1      0      1          0      0          1.0
                                                                   1      0          0      1          NaN
                                                 1          0      0      1          0      0          5.0
                                                            1      0      0          0      0          3.0
                                                                          1          0      0          1.0


damage_grade                                                                                             3
ad_mud mud_mort_st st_flag cem_mor_st mud_mor_br cem_mor_br timber bamboo rc_non_eng rc_eng other
0      1           0       0          0          0          0      0      0          0      0      56357.0
       0           0       0          0          1          0      0      0          0      0        423.0
                                                 0          0      0      1          0      0        104.0
                                                            1      0      0          0      0        448.0
       1           0       0          0          0          1      0      0          0      0       9391.0
...                                                                                                    ...
1      1           1       1          1          0          1      0      1          0      0          NaN
                                                                   1      0          0      1          1.0
                                                 1          0      0      1          0      0          NaN
                                                            1      0      0          0      0          NaN
                                                                          1          0      0          NaN

[505 rows x 3 columns]

In [70]:
df.groupby(['ad_mud','mud_mort_st','st_flag','cem_mor_st','mud_mor_br','cem_mor_br','timber','bamboo','rc_non_eng','rc_eng', 'other','age']).agg({'building_id':'count'}).unstack()

                                                                                                  building_id  \
age                                                                                                       0
ad_mud mud_mort_st st_flag cem_mor_st mud_mor_br cem_mor_br timber bamboo rc_non_eng rc_eng other
0      0           0       0          0          0          0      0      0          0      1           155.0
                                                                                     1      0           862.0
                                                                                            1             NaN
                                                                          1          0      0          1374.0
                                                                                            1             1.0
...                                                                                                       ...
1      1           1       1          1          0          1      1      0          0      1             NaN
                                                 1          0      0      0          0      0             NaN
                                                                          1          0      0             NaN
                                                            1      0      0          0      0             NaN
                                                                          1          0      0             NaN

                                                                                                           \
age                                                                                                   5
ad_mud mud_mort_st st_flag cem_mor_st mud_mor_br cem_mor_br timber bamboo rc_non_eng rc_eng other
0      0           0       0          0          0          0      0      0          0      1        66.0
                                                                                     1      0       793.0
                                                                                            1         1.0
                                                                          1          0      0      1182.0
                                                                                            1         NaN
...                                                                                                   ...
1      1           1       1          1          0          1      1      0          0      1         NaN
                                                 1          0      0      0          0      0         NaN
                                                                          1          0      0         NaN
                                                            1      0      0          0      0         1.0
                                                                          1          0      0         NaN

                                                                                                          \
age                                                                                                  10
ad_mud mud_mort_st st_flag cem_mor_st mud_mor_br cem_mor_br timber bamboo rc_non_eng rc_eng other
0      0           0       0          0          0          0      0      0          0      1       32.0
                                                                                     1      0      477.0
                                                                                            1        1.0
                                                                          1          0      0      734.0
                                                                                            1        NaN
...                                                                                                  ...
1      1           1       1          1          0          1      1      0          0      1        NaN
                                                 1          0      0      0          0      0        NaN
                                                                          1          0      0        NaN
                                                            1      0      0          0      0        NaN
                                                                          1          0      0        NaN

                                                                                                          \
age                                                                                                  15
ad_mud mud_mort_st st_flag cem_mor_st mud_mor_br cem_mor_br timber bamboo rc_non_eng rc_eng other
0      0           0       0          0          0          0      0      0          0      1       28.0
                                                                                     1      0      238.0
                                                                                            1        NaN
                                                                          1          0      0      441.0
                                                                                            1        NaN
...                                                                                                  ...
1      1           1       1          1          0          1      1      0          0      1        NaN
                                                 1          0      0      0          0      0        1.0
                                                                          1          0      0        NaN
                                                            1      0      0          0      0        2.0
                                                                          1          0      0        NaN

                                                                                                          \
age                                                                                                  20
ad_mud mud_mort_st st_flag cem_mor_st mud_mor_br cem_mor_br timber bamboo rc_non_eng rc_eng other
0      0           0       0          0          0          0      0      0          0      1       26.0
                                                                                     1      0      122.0
                                                                                            1        2.0
                                                                          1          0      0      250.0
                                                                                            1        NaN
...                                                                                                  ...
1      1           1       1          1          0          1      1      0          0      1        NaN
                                                 1          0      0      0          0      0        NaN
                                                                          1          0      0        NaN
                                                            1      0      0          0      0        NaN
                                                                          1          0      0        NaN

                                                                                                         \
age                                                                                                 25
ad_mud mud_mort_st st_flag cem_mor_st mud_mor_br cem_mor_br timber bamboo rc_non_eng rc_eng other
0      0           0       0          0          0          0      0      0          0      1       8.0
                                                                                     1      0      42.0
                                                                                            1       NaN
                                                                          1          0      0      95.0
                                                                                            1       1.0
...                                                                                                 ...
1      1           1       1          1          0          1      1      0          0      1       NaN
                                                 1          0      0      0          0      0       NaN
                                                                          1          0      0       NaN
                                                            1      0      0          0      0       NaN
                                                                          1          0      0       NaN

                                                                                                         \
age                                                                                                 30
ad_mud mud_mort_st st_flag cem_mor_st mud_mor_br cem_mor_br timber bamboo rc_non_eng rc_eng other
0      0           0       0          0          0          0      0      0          0      1      10.0
                                                                                     1      0      24.0
                                                                                            1       NaN
                                                                          1          0      0      41.0
                                                                                            1       NaN
...                                                                                                 ...
1      1           1       1          1          0          1      1      0          0      1       NaN
                                                 1          0      0      0          0      0       NaN
                                                                          1          0      0       NaN
                                                            1      0      0          0      0       NaN
                                                                          1          0      0       NaN

                                                                                                         \
age                                                                                                 35
ad_mud mud_mort_st st_flag cem_mor_st mud_mor_br cem_mor_br timber bamboo rc_non_eng rc_eng other
0      0           0       0          0          0          0      0      0          0      1       3.0
                                                                                     1      0      10.0
                                                                                            1       NaN
                                                                          1          0      0      22.0
                                                                                            1       NaN
...                                                                                                 ...
1      1           1       1          1          0          1      1      0          0      1       NaN
                                                 1          0      0      0          0      0       NaN
                                                                          1          0      0       NaN
                                                            1      0      0          0      0       NaN
                                                                          1          0      0       NaN

                                                                                                        \
age                                                                                                40
ad_mud mud_mort_st st_flag cem_mor_st mud_mor_br cem_mor_br timber bamboo rc_non_eng rc_eng other
0      0           0       0          0          0          0      0      0          0      1      7.0
                                                                                     1      0      5.0
                                                                                            1      NaN
                                                                          1          0      0      9.0
                                                                                            1      NaN
...                                                                                                ...
1      1           1       1          1          0          1      1      0          0      1      NaN
                                                 1          0      0      0          0      0      NaN
                                                                          1          0      0      NaN
                                                            1      0      0          0      0      NaN
                                                                          1          0      0      NaN

                                                                                                        \
age                                                                                                45
ad_mud mud_mort_st st_flag cem_mor_st mud_mor_br cem_mor_br timber bamboo rc_non_eng rc_eng other
0      0           0       0          0          0          0      0      0          0      1      4.0
                                                                                     1      0      3.0
                                                                                            1      NaN
                                                                          1          0      0      NaN
                                                                                            1      NaN
...                                                                                                ...
1      1           1       1          1          0          1      1      0          0      1      1.0
                                                 1          0      0      0          0      0      NaN
                                                                          1          0      0      NaN
                                                            1      0      0          0      0      NaN
                                                                          1          0      0      NaN

                                                                                                   ...  \
age                                                                                                ...
ad_mud mud_mort_st st_flag cem_mor_st mud_mor_br cem_mor_br timber bamboo rc_non_eng rc_eng other  ...
0      0           0       0          0          0          0      0      0          0      1      ...
                                                                                     1      0      ...
                                                                                            1      ...
                                                                          1          0      0      ...
                                                                                            1      ...
...                                                                                                ...
1      1           1       1          1          0          1      1      0          0      1      ...
                                                 1          0      0      0          0      0      ...
                                                                          1          0      0      ...
                                                            1      0      0          0      0      ...
                                                                          1          0      0      ...

                                                                                                       \
age                                                                                               160
ad_mud mud_mort_st st_flag cem_mor_st mud_mor_br cem_mor_br timber bamboo rc_non_eng rc_eng other
0      0           0       0          0          0          0      0      0          0      1     NaN
                                                                                     1      0     NaN
                                                                                            1     NaN
                                                                          1          0      0     NaN
                                                                                            1     NaN
...                                                                                                ..
1      1           1       1          1          0          1      1      0          0      1     NaN
                                                 1          0      0      0          0      0     NaN
                                                                          1          0      0     NaN
                                                            1      0      0          0      0     NaN
                                                                          1          0      0     NaN

                                                                                                       \
age                                                                                               165
ad_mud mud_mort_st st_flag cem_mor_st mud_mor_br cem_mor_br timber bamboo rc_non_eng rc_eng other
0      0           0       0          0          0          0      0      0          0      1     NaN
                                                                                     1      0     NaN
                                                                                            1     NaN
                                                                          1          0      0     NaN
                                                                                            1     NaN
...                                                                                                ..
1      1           1       1          1          0          1      1      0          0      1     NaN
                                                 1          0      0      0          0      0     NaN
                                                                          1          0      0     NaN
                                                            1      0      0          0      0     NaN
                                                                          1          0      0     NaN

                                                                                                       \
age                                                                                               170
ad_mud mud_mort_st st_flag cem_mor_st mud_mor_br cem_mor_br timber bamboo rc_non_eng rc_eng other
0      0           0       0          0          0          0      0      0          0      1     NaN
                                                                                     1      0     NaN
                                                                                            1     NaN
                                                                          1          0      0     NaN
                                                                                            1     NaN
...                                                                                                ..
1      1           1       1          1          0          1      1      0          0      1     NaN

In [78]:
df.groupby(['ad_mud','mud_mort_st','st_flag','cem_mor_st','mud_mor_br','cem_mor_br','timber','bamboo','rc_non_eng','rc_eng', 'other','count_families']).agg({'building_id':'count'}).sort_values(by='building_id',ascending=False) #.unstack()

                                                                                                                  building_id
ad_mud mud_mort_st st_flag cem_mor_st mud_mor_br cem_mor_br timber bamboo rc_non_eng rc_eng other count_families
0      1           0       0          0          0          0      0      0          0      0     1                    119590
                                                            1      0      0          0      0     1                     25548
                                                            0      0      0          0      0     0                     10479
                                                            1      1      0          0      0     1                      9054
       0           0       0          0          1          0      0      0          0      0     1                      8311
...                                                                                                                       ...
1      0           0       0          0          0          0      0      0          0      0     7                         1
                                                                                                  6                         1
0      0           0       1          0          1          1      0      1          0      1     1                         1
                                                                                     1      0     0                         1
1      1           1       1          1          1          1      0      1          0      0     1                         1

[1039 rows x 1 columns]

In [81]:
df.groupby(['damage_grade','count_families']).agg({'building_id':'count'}).sort_values(by=['count_families','damage_grade'],ascending=False) #.unstack()

                             building_id
damage_grade count_families
2            9                         3
1            9                         1
2            8                         1
1            8                         1
3            7                         2
2            7                         2
1            7                         3
3            6                        10
2            6                         8
1            6                         4
3            5                        36
2            5                        51
1            5                        17
3            4                       138
2            4                       205
1            4                        46
3            3                       695
2            3                       886
1            3                       221
3            2                      4444
2            2                      6021
1            2                       829
3            1                     76055
2            1                    129721
1            1                     20339
3            0                      5838
2            0                     11361
1            0                      3663

In [93]:
df.groupby(['plan_configuration','damage_grade']).agg({'building_id':'count'}).sort_values(by=['building_id','damage_grade'],ascending=False) #.unstack()

                                 building_id
plan_configuration damage_grade
d                  2                  142523
                   3                   84239
                   1                   23310
q                  2                    2585
u                  2                    2399
q                  3                    2326
                   1                     781
u                  1                     774
                   3                     476
s                  2                     223
c                  2                     206
a                  2                     157
o                  2                      96
c                  1                      86
s                  3                      70
a                  1                      66
s                  1                      53
o                  1                      40
m                  2                      34
c                  3                      33
a                  3                      29
o                  3                      23
n                  2                      20
f                  2                      16
n                  3                      12
m                  1                       8
f                  3                       6
n                  1                       6
m                  3                       4

In [98]:
df.groupby(['geo_level_1_id','plan_configuration']).agg({'building_id':'count'}).sort_values(by=['building_id'],ascending=False).unstack().fillna(0)

                   building_id                                              \
plan_configuration           a     c        d    f     m    n     o      q
geo_level_1_id
0                         17.0   4.0   3917.0  0.0   5.0  0.0   4.0   25.0
1                         21.0   0.0   2620.0  0.0   0.0  0.0   0.0   32.0
2                          6.0   0.0    911.0  0.0   0.0  0.0   1.0    8.0
3                          8.0   8.0   7171.0  1.0   7.0  1.0   5.0  150.0
4                          1.0   3.0  14278.0  1.0   1.0  4.0   1.0  157.0
5                          4.0   7.0   2615.0  0.0   0.0  0.0   1.0   29.0
6                         12.0  36.0  23611.0  2.0   0.0  1.0   9.0  379.0
7                          8.0  48.0  18173.0  1.0   2.0  4.0  15.0  525.0
8                         11.0  13.0  18149.0  4.0   1.0  4.0   4.0  747.0
9                          5.0   9.0   3784.0  0.0   0.0  0.0   1.0  113.0
10                        41.0  22.0  21466.0  1.0   0.0  3.0   9.0  382.0
11                         2.0  21.0   7826.0  0.0   0.0  1.0   4.0  151.0
12                         0.0   0.0   3169.0  0.0   0.0  0.0   0.0    8.0
13                         5.0   5.0   9179.0  0.0   1.0  1.0   3.0  282.0
14                         1.0   3.0   1661.0  0.0   0.0  0.0   0.0   30.0
15                         0.0   2.0   2271.0  0.0   1.0  1.0   0.0   24.0
16                         0.0   1.0   4232.0  0.0   0.0  0.0   4.0   14.0
17                         4.0  12.0  20974.0  2.0   3.0  2.0   8.0  706.0
18                         2.0   1.0   2903.0  1.0   1.0  1.0   2.0  242.0
19                         1.0   0.0    362.0  0.0   0.0  0.0   0.0    4.0
20                        43.0  13.0  16029.0  1.0   4.0  7.0  45.0  204.0
21                         4.0  17.0  14468.0  2.0   0.0  1.0   6.0  228.0
22                         6.0   9.0   6050.0  0.0   0.0  0.0   0.0  148.0
23                         1.0   2.0   1107.0  0.0   0.0  0.0   0.0    5.0
24                         0.0   1.0   1295.0  0.0   0.0  0.0   0.0    6.0
25                        16.0  10.0   5319.0  2.0   0.0  2.0   4.0  196.0
26                         6.0  38.0  21621.0  2.0  12.0  3.0  22.0  478.0
27                        12.0  34.0  11704.0  2.0   8.0  2.0  10.0  376.0
28                         2.0   0.0    238.0  0.0   0.0  0.0   0.0   25.0
29                         0.0   0.0    390.0  0.0   0.0  0.0   0.0    5.0
30                        13.0   6.0   2579.0  0.0   0.0  0.0   1.0   13.0


plan_configuration     s      u
geo_level_1_id
0                    3.0   36.0
1                    2.0   26.0
2                    0.0    5.0
3                   10.0  179.0
4                   19.0  103.0
5                    3.0   31.0
6                   17.0  314.0
7                   25.0  193.0
8                   13.0  134.0
9                    2.0   44.0
10                  19.0  136.0
11                   5.0  210.0
12                   4.0   13.0
13                  20.0  112.0
14                   4.0   15.0
15                   7.0   14.0
16                   4.0   77.0
17                  16.0   86.0
18                   5.0   31.0
19                   0.0    5.0
20                  89.0  781.0
21                   5.0  158.0
22                   8.0   31.0
23                   1.0    5.0
24                   1.0    7.0
25                   6.0   69.0
26                  30.0  403.0
27                  26.0  358.0
28                   0.0    0.0
29                   0.0    1.0
30                   2.0   72.0