In [1]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as pl
import seaborn as sns
labels = pd.read_csv("train_labels.csv",encoding = 'latin-1')
values = pd.read_csv("train_values.csv",encoding = 'latin-1')
pd.options.display.max_colwidth = 250
values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  object
 9   foundation_type                         260601 non-null  object
 10  roof_type                               260601 non-null  object
 11  ground_floor_type                       260601 non-null  object
 12  other_floor_type                        260601 non-null  object
 13  position                                260601 non-null  object
 14  plan_configuration                      260601 non-null  object
 15  has_superstructure_adobe_mud            260601 non-null  int64
 16  has_superstructure_mud_mortar_stone     260601 non-null  int64
 17  has_superstructure_stone_flag           260601 non-null  int64
 18  has_superstructure_cement_mortar_stone  260601 non-null  int64
 19  has_superstructure_mud_mortar_brick     260601 non-null  int64
 20  has_superstructure_cement_mortar_brick  260601 non-null  int64
 21  has_superstructure_timber               260601 non-null  int64
 22  has_superstructure_bamboo               260601 non-null  int64
 23  has_superstructure_rc_non_engineered    260601 non-null  int64
 24  has_superstructure_rc_engineered        260601 non-null  int64
 25  has_superstructure_other                260601 non-null  int64
 26  legal_ownership_status                  260601 non-null  object
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  int64
 29  has_secondary_use_agriculture           260601 non-null  int64
 30  has_secondary_use_hotel                 260601 non-null  int64
 31  has_secondary_use_rental                260601 non-null  int64
 32  has_secondary_use_institution           260601 non-null  int64
 33  has_secondary_use_school                260601 non-null  int64
 34  has_secondary_use_industry              260601 non-null  int64
 35  has_secondary_use_health_post           260601 non-null  int64
 36  has_secondary_use_gov_office            260601 non-null  int64
 37  has_secondary_use_use_police            260601 non-null  int64
 38  has_secondary_use_other                 260601 non-null  int64
dtypes: int64(31), object(8)
memory usage: 77.5+ MB

In [3]:
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   building_id   260601 non-null  int64
 1   damage_grade  260601 non-null  int64
dtypes: int64(2)
memory usage: 4.0 MB

In [7]:
df = labels.merge(values,left_on='building_id',right_on='building_id')
df

,building_id,damage_grade,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,3,6,487,12198,2,30,6,5,t,...,0,0,0,0,0,0,0,0,0,0
1,28830,2,8,900,2812,2,10,8,7,o,...,0,0,0,0,0,0,0,0,0,0
2,94947,3,21,363,8973,2,10,5,5,t,...,0,0,0,0,0,0,0,0,0,0
3,590882,2,22,418,10694,2,10,6,5,t,...,0,0,0,0,0,0,0,0,0,0
4,201944,3,11,131,1488,3,30,8,9,t,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,688636,2,25,1335,1621,1,55,6,3,n,...,0,0,0,0,0,0,0,0,0,0
260597,669485,3,17,715,2060,2,0,6,5,t,...,0,0,0,0,0,0,0,0,0,0
260598,602512,3,17,51,8163,3,55,6,7,t,...,0,0,0,0,0,0,0,0,0,0
260599,151409,2,26,39,1851,2,10,14,6,t,...,0,0,0,0,0,0,0,0,0,0
260600,747594,3,21,9,9101,3,10,7,6,n,...,0,0,0,0,0,0,0,0,0,0

In [16]:
df.groupby(['geo_level_1_id','geo_level_2_id','geo_level_3_id','damage_grade']).agg({'building_id' : 'count'}).nlargest(25,'building_id')

                                                           building_id
geo_level_1_id geo_level_2_id geo_level_3_id damage_grade
26             39             9133           1                     450
                              633            1                     372
20             158            621            2                     343
26             39             633            2                     273
10             151            7723           1                     269
20             158            9229           2                     250
26             39             11440          1                     238
                              11246          1                     234
                              2005           2                     230
7              1166           406            2                     223
20             158            2452           2                     216
26             39             11246          2                     210
                              2005           1                     200
                              11440          2                     191
10             735            10221          2                     182
26             39             9133           2                     182
                              1851           2                     181
                              10445          2                     180
               991            2170           2                     180
9              445            10728          2                     172
7              157            9272           2                     166
26             1001           12258          1                     166
                              6626           1                     165
6              376            10236          2                     160
8              463            8236           3                     158

In [15]:
df.groupby(['geo_level_1_id','geo_level_2_id','geo_level_3_id']).agg({'building_id' : 'count'}).nlargest(5,'building_id')

                                              building_id
geo_level_1_id geo_level_2_id geo_level_3_id
26             39             633                     651
                              9133                    647
20             158            621                     530
26             39             11246                   470
                              2005                    466

In [23]:
df['age_quantile'] = pd.qcut(df['age'], q=6)
df

,building_id,damage_grade,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,age_quantile
0,802906,3,6,487,12198,2,30,6,5,t,...,0,0,0,0,0,0,0,0,0,"(25.0, 35.0]"
1,28830,2,8,900,2812,2,10,8,7,o,...,0,0,0,0,0,0,0,0,0,"(5.0, 10.0]"
2,94947,3,21,363,8973,2,10,5,5,t,...,0,0,0,0,0,0,0,0,0,"(5.0, 10.0]"
3,590882,2,22,418,10694,2,10,6,5,t,...,0,0,0,0,0,0,0,0,0,"(5.0, 10.0]"
4,201944,3,11,131,1488,3,30,8,9,t,...,0,0,0,0,0,0,0,0,0,"(25.0, 35.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,688636,2,25,1335,1621,1,55,6,3,n,...,0,0,0,0,0,0,0,0,0,"(35.0, 995.0]"
260597,669485,3,17,715,2060,2,0,6,5,t,...,0,0,0,0,0,0,0,0,0,"(-0.001, 5.0]"
260598,602512,3,17,51,8163,3,55,6,7,t,...,0,0,0,0,0,0,0,0,0,"(35.0, 995.0]"
260599,151409,2,26,39,1851,2,10,14,6,t,...,0,0,0,0,0,0,0,0,0,"(5.0, 10.0]"
260600,747594,3,21,9,9101,3,10,7,6,n,...,0,0,0,0,0,0,0,0,0,"(5.0, 10.0]"

In [30]:
#observando este resultado vemos que hay grandes cantidades de edificios afectados por grados altos de danio, en todas las edades de edificio. 
# Es decir que no parece haber correlacion entre ambos valores
df.groupby(['age_quantile','damage_grade']).agg({'building_id' : 'count'}).sort_values(by='damage_grade')

                            building_id
age_quantile  damage_grade
(-0.001, 5.0] 1                   12803
(35.0, 995.0] 1                    1006
(5.0, 10.0]   1                    4360
(10.0, 15.0]  1                    2878
(15.0, 25.0]  1                    3085
(25.0, 35.0]  1                     992
(-0.001, 5.0] 2                   31751
(5.0, 10.0]   2                   22370
(10.0, 15.0]  2                   20767
(35.0, 995.0] 2                   24005
(15.0, 25.0]  2                   32676
(25.0, 35.0]  2                   16690
              3                   11056
(10.0, 15.0]  3                   12365
(5.0, 10.0]   3                   12166
(-0.001, 5.0] 3                   15184
(15.0, 25.0]  3                   20787
(35.0, 995.0] 3                   15660

In [35]:
#efectivamente al checkear la correlacion, no hay correlacion
df['age'].corr(df['damage_grade'])

0.02927330217043438

0.02927330217043438